<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="NeoGallery example">
<title>NeoGallery Example</title>
<link href="/css/gallery.css" rel="stylesheet" type="text/css" media="all" > 

</head>

<style>
    body{
     background-color: grey;  
    }
    .header{
        text-align: center;
    }
    .tagDirectory{
        text-align: center;
        justify-content: center;
        background-color: darkslategray;
        max-width: 800PX;
        padding: 10px;
    }
    .tagText{
        background-color: darkgrey;
        background-size: 120%;
        font-size: 20px;
        color: white;
        padding: 0;
        margin: 10px;
    }
</style>

<body>


<h1 class="header">NeoGallery Example</h1>

<center><a id="reshuffle">Random Selection, by default loads 6 random entries. id="reshuffle" will make an element reshuffle it. Click me.</a></center>



<!--if you want to add a new gallery item on your page, add everything between this comment, and the one that states 'snippet end'-->
<div class="gallery" data-tag="random">
<!--galleryLoader shows while gallery items are parsed from the media json-->
    <div class="galleryLoader" >
        <div>
        <img src="/assets/hourglass.gif" alt="Loading..." >
        <p>Loading...</p>
        </div>
    </div>
</div>
<!--myModal shows when an image is clicked-->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img id="loadingPlaceholder" class="loading" src="/assets/hourglass.gif"></img>
    <img class="modal-content" id="img01">
    <div id="title"></div>
     <div id="caption"></div>
</div>

<script src="/js/neoGallery.js"></script>
<!--snippet end-->



<center>
<div class="tagDirectory">
<!--If you wish to add a tag directory, linking to other gallery pages, place the comment END as seen below this one, wherever you want links to begin appearing. It is how NeoGallery determines where to put in the new tag link.-->
<!--END-->
<!--asfd-->
<a href="/tagDirectoryTester/asfd.html"><p class="tagText">sdfsdfsadfs</p></a>
<!--END-->
<!--testasd-->
<div class="genreholder"><a href="/tagDirectoryTester/testasd.html"><p class="genreheader">sdasdasdasd</p><img src="__COVER_PHOTO__" alt=""></a></div>
<!--END-->
<!--UNDO-->
<div class="genreholder"><a href="/tagDirectoryTester/UNDO.html"><p class="genreheader">QUATRESD</p><img src="assets/tag_covers/cover_UNDO_fuit_gummy.jpg" alt=""></a></div>
<!--END-->
<!--UNDO-->
<div class="genreholder"><a href="/tagDirectoryTester/UNDO.html"><p class="genreheader">QUATRO</p><img src="assets/tag_covers/cover_UNDO_possmaw.png" alt=""></a></div>
<!--END-->
<!--1moretest-->
<div class="genreholder"><a href="/tagDirectoryTester/1moretest.html"><p class="genreheader">1moretest</p><img src="assets/tag_covers/cover_1moretest_feralposs.jpg" alt=""></a></div>
<!--END-->
<!--testnocover-->
<div class="genreholder"><a href="/tagDirectoryTester/testnocover.html"><p class="genreheader">testnocover link title</p><img src="" alt=""></a></div>
<!--END-->
<!--testwithcover-->
<div class="genreholder"><a href="/tagDirectoryTester/testwithcover.html"><p class="genreheader">testwithcover link title</p><img src="/assets/tag_covers/cover_testwithcover_lpKOw7K.png" alt=""></a></div>
<!--END-->








</div>
</center>


</body>
</html>