<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="__META_DESC__">
<title>__PAGE_TITLE__</title> <!--Tab Title-->
<link href="/css/gallery.css" rel="stylesheet" type="text/css" media="all" > 

</head>

<style>
    body{
     background-color: grey;  
    }
    .header{
        text-align: center;
    }
    .tagDirectory{
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: aquamarine;
        max-width: 800PX;
        padding: 10px;
    }
    .tagLink{
        background-color: darkgray;
        background-size: 120%;
        font-size: 20px;
        
    }
</style>

<body>


<center><h1>Dynamically created gallery for tag: __DATA_TAG__</h1>
<div class="gallery" data-tag="__DATA_TAG__">
<!--galleryLoader shows while gallery items are parsed from the media json-->
    <div class="galleryLoader" >
        <div>
        <img src="/assets/hourglass.gif" alt="Loading..." >
        <p>Loading...</p>
        </div>
    </div>
</div>
<a href="/NeoGallery.html"><--BACK TO DIRECTORY</a>
</center>
<!--myModal shows when an image is clicked-->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img id="loadingPlaceholder" class="loading" src="/assets/hourglass.gif"></img>
    <img class="modal-content" id="img01">
    <div id="title"></div>
     <div id="caption"></div>
</div>
<script src="/js/neoGallery.js"></script>



</body>
</html>
